.panel-group{
	width: 20%;
	margin-left: 1%;
	margin-top: 1%;
}

.panel-body{
	padding-top: 2px;
	padding-bottom: 2px;
	max-height: 300px;
	overflow-y: scroll;
	min-height: 100px;
}

.start{
	color: gray;
}

#range{
	margin-top: 34px;
}

.noUi-connect{
	background: #d3d3d3;
}

.noUi-value-large{
	font-size: 10pt;
	margin-top: 5px;
}